<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Oemah Ku</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="assets/images/mansion.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/home.css">
    <script src="assets/js/main.js"></script>
</head>

<header>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="home.html">
                <img src="assets/images/mansion.png" width="50" alt="home-logo" srcset="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- eof navbar -->
    <div class="container">
        <div class="row" id="header-content">
            <div class="col-sm-6 col-md-6" id="kiri">
                <h1 id="tittle">Oemah ku</h1>
                <p id="intro">
                    Anda sedang mencari rumah untuk dibeli atau disewa?
                    Roemah Ku lah solusinya, kami akan membantu anda
                    mencari rumah yang sesuai dengan keinginan anda.
                    Ragu untuk membeli rumah karena takut tertipu?
                    Tenang, di Roemah Ku identitas penjual sudah terverifikasi.
                    Jadi, dapat dipertanggung jawabkan secara hukum.
                </p>
            </div>
            <div class="col-sm-6 col-md-6" id="kanan">
                <img class="float-right" src="assets/images/mansion.png" alt="home-logo" srcset="">
            </div>
        </div>
    </div>
</header>

<body>
    <div class="container">
        <section id="recomended" class="shadow p-3 mb-5 bg-white rounded">
            <h1 id="main-content-tittle">Promoted</h1>
            <div class="main-content row text-center">
                <div class="col-md-4 img-fav">
                    <div class="masking">
                        <a href="#"><img src="assets/images/mansion.svg" alt="bali" height="240px"></a>
                    </div>
                    <a href="#">
                        <h5 class="house-name">Rumah Blok A</h5>
                    </a>
                    <p class="caption-img">
                        <font style="font-weight: bold; color: rgb(255, 196, 0)">Rate: A+</font> <br>
                        <font style="font-weight: bold; color: yellowgreen">Price: Rp 3.000.000.000</font> <br>
                        <b>Description:</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    </p>
                    <button type="button" class="btn btn-outline-success btn-block btn-lg">Details</button>
                </div>
                <div class="col-md-4 img-fav">
                    <div class="masking">
                        <a href="#"><img src="assets/images/mansion.svg" alt="bali" height="240px"></a>
                    </div>
                    <a href="#">
                        <h5 class="house-name">Rumah Blok B</h5>
                    </a>
                    <p class="caption-img">
                        <font style="font-weight: bold; color: rgb(255, 196, 0)">Rate: A+</font> <br>
                        <font style="font-weight: bold; color: yellowgreen">Price: Rp 2.000.000.000</font> <br>
                        <b>Description:</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    </p>
                    <button type="button" class="btn btn-outline-success btn-block btn-lg">Details</button>
                </div>
                <div class="col-md-4 img-fav">
                    <div class="masking">
                        <a href="#"><img src="assets/images/mansion.svg" alt="bali" height="240px"></a>
                    </div>
                    <a href="#">
                        <h5 class="house-name">Rumah Blok C</h5>
                    </a>
                    <p class="caption-img">
                        <font style="font-weight: bold; color: rgb(255, 196, 0)">Rate: A+</font> <br>
                        <font style="font-weight: bold; color: yellowgreen">Price: Rp 1.000.000.000</font> <br>
                        <b>Description:</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    </p>
                    <button type="button" class="btn btn-outline-success btn-block btn-lg">Details</button>
                </div>
            </div>
            <div class="text-center">
                <a id="see-all" href="#">See All</a>
            </div>
        </section>

        <section id="all-features" class="shadow p-3 mb-5 bg-white rounded">
            <h1 id="main-content-tittle">All Features</h1>
            <div class="main-content row text-center">
                <div class="col-md-4 img-fav">
                    <div class="masking">
                        <a href="#"><img src="assets/images/mansion.svg" alt="bali" height="240px"></a>
                    </div>
                    <a href="#">
                        <h5 class="house-name">Rumah Blok A</h5>
                    </a>
                    <p class="caption-img">
                        <font style="font-weight: bold; color: rgb(255, 196, 0)">Rate: A+</font> <br>
                        <font style="font-weight: bold; color: yellowgreen">Price: Rp 1.000.000.000</font> <br>
                        <b>Description:</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    </p>
                    <button type="button" class="btn btn-outline-success btn-block btn-lg">Details</button>
                </div>
                <div class="col-md-4 img-fav">
                    <div class="masking">
                        <a href="#"><img src="assets/images/mansion.svg" alt="bali" height="240px"></a>
                    </div>
                    <a href="#">
                        <h5 class="house-name">Rumah Blok B</h5>
                    </a>
                    <p class="caption-img">
                        <font style="font-weight: bold; color: rgb(255, 196, 0)">Rate: A+</font> <br>
                        <font style="font-weight: bold; color: yellowgreen">Price: Rp 1.000.000.000</font> <br>
                        <b>Description:</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    </p>
                    <button type="button" class="btn btn-outline-success btn-block btn-lg">Details</button>
                </div>
                <div class="col-md-4 img-fav">
                    <div class="masking">
                        <a href="#"><img src="assets/images/mansion.svg" alt="bali" height="240px"></a>
                    </div>
                    <a href="#">
                        <h5 class="house-name">Rumah Blok C</h5>
                    </a>
                    <p class="caption-img">
                        <font style="font-weight: bold; color: rgb(255, 196, 0)">Rate: A+</font> <br>
                        <font style="font-weight: bold; color: yellowgreen">Price: Rp 1.000.000.000</font> <br>
                        <b>Description:</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    </p>
                    <button type="button" class="btn btn-outline-success btn-block btn-lg">Details</button>
                </div>
            </div>
            <div class="text-center">
                <a id="see-all" href="#">See All</a>
            </div>
        </section>
    </div>
</body>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3" id="contact-us">
                <p><b>Contact Us</b></p>
                <div class="sm-img">
                    <img src="assets/images/instagram.svg" width="25" alt="ig" srcset="">
                    <a class="cap-contact-us" href="https://www.instagram.com/">@oemahku</a>
                </div>
                <div class="sm-img">
                    <img src="assets/images/facebook.svg" width="25" alt="ig" srcset="">
                    <a class="cap-contact-us" href="https://www.facebook.com/">facebook.com/oemahku</a>
                </div>
                <div class="sm-img">
                    <img src="assets/images/gmail.svg" width="25" alt="ig" srcset="">
                    <a class="cap-contact-us" href="https://www.gmail.com/">oemahku@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</footer>

</html>